body {
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
h1 {
    margin:auto;
    padding: 2rem; 
}
#editor {
    margin:auto;
    width: 20rem;
    height: 20rem;
}
