.App {
  text-align: center;
  background-color: royalblue;
  height: 100vh;
  color: aquamarine;
  font-size: 1.5em;
  margin: 0;
  padding-top: 10px;
}

.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.App form input {
  margin: 10px;
}
