.body {
  height: 500px;
  text-align: center;
  margin: 10px;
}

header {
  height: 100px;
  width:300px;
  margin-left: 30%;
  margin-top: 10%;
}

main {
height: 300px;
width:400px;
margin-left: 25%;
}