html,
body,
section {
    height: 100%;
}

.app {
    display: flex;
}

.editor,
.sample-markup {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
}
.sample-markup {
    margin: 1rem;
}
