
body{
    margin: 60px
}
.edit {
width: 200%;
height: 500px;
font-size: 1.6em;
font-weight: 500;
}

.forms{
    display: flex;
    justify-content: space-evenly;
}

.page{
    margin:100px 700px;
    padding: 100px;
}