html,
body,
section {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.editor,
.sample-markup {
    flex: 1;
    padding: 1rem;
}
